:root {
    --gold: #C7A135;
    --black: #000201;
  }

.Count-container{
    border: 1px solid var(--gold);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 15px;
}

.Count-container button {
    height: 100%;
    border: none;
    background: var(--black);
    color: var(--gold);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 15px;
    transition: .3s;
}

.Count-container button:hover{
    background: var(--gold);
    color: var(--black);
}

.Count-container span{
    
    text-align: center;
}