:root {
    --gold: #C7A135;
    --black: #000201;
  }

.Total-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100px;
    background: var(--black);
    border-radius: 15px;
    box-shadow: 0px 0px 5px 4px var(--gold);
    /* position: fixed;
    right: 5%; */
}

.Total-main{
  width: 90%;
  display: flex;
  flex-direction: column;
  
}

.Total-main h3{
  color: var(--gold);
}



.common-total{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.common-total span{
  color: white;
  font-size: 20px;
}
